<a href="https://colab.research.google.com/github/elenamnivonh/Bloque-Plataforma-1/blob/main/Extracci%C3%B3n_de_datas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas
!pip install numpy
!pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [3]:
#Importamos el archivo de datos
from google.colab import files
uploaded = files.upload()

Saving file.csv to file (1).csv

In [7]:
#importamosla libreria Pandas
import pandas as pd 
import io

#Leemos el contenido del archivo
#df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)
df =pd.read_csv('file.csv')
df.info()
df

#importar archivo desde Github
#url = 'copied_raw_github_link'
#df = pd.read_csv(url)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4554 entries, 0 to 4553
Data columns (total 7 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Periodo                                          4554 non-null   int64
 1   Trimestre                                        4554 non-null   int64
 2   Entidad_Federativa                               4554 non-null   object
 3   Sexo                                             4554 non-null   object
 4   Poblacion_ocupada_en_la_industria_manufacturera  4554 non-null   object
 5   Poblaci n_ocupada                                4554 non-null   object
 6   Tasa_de_ocupaci n_en_la_industria_manufacturera  4554 non-null   object
dtypes: int64(2), object(5)
memory usage: 249.2+ KB

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,2005,1,Nacional,Hombres,4384907,26597801,16.485975660000000000000
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
2,2005,1,Aguascalientes,Hombres,56407,246177,22.913188480000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
4,2005,1,Baja California,Hombres,167651,768989,21.801482210000000000000
...,...,...,...,...,...,...,...
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4550,2022,1,Yucat n,Hombres,101992,691397,14.751582670000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4552,2022,1,Zacatecas,Hombres,44105,402326,10.962503040000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [8]:
#Leemos el contenido del archivo
#df = pd.read_csv(oi.BytesID(uploaded['file.csv']), index_col=2)
#df=pd.read_csv('files.csv')
#df.info()
#df

In [9]:
#importar archivo desde Github
#url = 'copied_raw_github_link
#df = pd.read_csv(url)

In [10]:
#FILTROS BASICOS PARA VARIABLES CUALITATIVAS
#Filtro por objeto
filtro1=df[df["Sexo"] == "Mujeres"]
filtro1

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
1,2005,1,Nacional,Mujeres,2690296,14843275,18.124679360000000000000
3,2005,1,Aguascalientes,Mujeres,28430,145656,19.518591750000000000000
5,2005,1,Baja California,Mujeres,103697,398911,25.995021450000000000000
7,2005,1,Baja California Sur,Mujeres,4103,75648,5.4238049920000000000000
9,2005,1,Campeche,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...,...
4545,2022,1,Tamaulipas,Mujeres,148943,624871,23.835799710000000000000
4547,2022,1,Tlaxcala,Mujeres,63801,241052,26.46773310000000000000
4549,2022,1,Veracruz,Mujeres,107640,1190733,9.0398099320000000000000
4551,2022,1,Yucat n,Mujeres,82759,478943,17.279509250000000000000
4553,2022,1,Zacatecas,Mujeres,39472,255761,15.43315830000000000000

In [11]:
#Filtro por filas
filtro3 = df.iloc[300:302, : ]  #Filas consecutivas
#filtro3 = df.iloc[ [1000, 2000, 3000] , : ] #filas no consecutivas 
filtro3

,Periodo,Trimestre,Entidad_Federativa,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
300,2006,1,Nayarit,Hombres,23317,265827,8.7714942420000000000000
301,2006,1,Nayarit,Mujeres,15862,158653,9.9979199890000000000000

In [12]:
#Filtro por columnas
#filtro4 = df.iloc[ : , 2:5] #Para columnas consecutivas
filtro4= df.iloc[ : , [1, 4, 6]] #Columnas NO consecutivs
filtro4

,Trimestre,Poblacion_ocupada_en_la_industria_manufacturera,Tasa_de_ocupaci n_en_la_industria_manufacturera
0,1,4384907,16.485975660000000000000
1,1,2690296,18.124679360000000000000
2,1,56407,22.913188480000000000000
3,1,28430,19.518591750000000000000
4,1,167651,21.801482210000000000000
...,...,...,...
4549,1,107640,9.0398099320000000000000
4550,1,101992,14.751582670000000000000
4551,1,82759,17.279509250000000000000
4552,1,44105,10.962503040000000000000
4553,1,39472,15.43315830000000000000

In [13]:
#Filtro de filas vs columnas
df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)

# Para aplicar este filtro SI se requiere tener una columna como √≠ndice
#df = pd.read_csv(io.BytesIO(uploaded['file.csv']), index_col=2)

filtro5 = df.loc[["Puebla","Durango"], ["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro5

                   Poblacion_ocupada_en_la_industria_manufacturera
Entidad_Federativa
Puebla                                                      230487
Puebla                                                      188720
Puebla                                                      236459
Puebla                                                      190831
Puebla                                                      233484
...                                                            ...
Durango                                                      53354
Durango                                                      82494
Durango                                                      57450
Durango                                                      79715
Durango                                                      55750

[276 rows x 1 columns]

In [14]:
#Filtro por cabecera
filtro6 = df.head()
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Hombres,4384907,26597801,16.485975660000000000000
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Hombres,56407,246177,22.913188480000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Hombres,167651,768989,21.801482210000000000000

In [15]:
#FILTROS BASICOS PARA VARIABLES CUANTITATIVAS
#Filtro por comparaci√≥n
filtro7=df[df["Periodo"] >= 2006]
filtro7

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2006,1,Hombres,4377795,26913995,16.265868370000000000000
Nacional,2006,1,Mujeres,2741480,15826941,17.321603710000000000000
Aguascalientes,2006,1,Hombres,58341,256317,22.761268270000000000000
Aguascalientes,2006,1,Mujeres,25737,152027,16.929229680000000000000
Baja California,2006,1,Hombres,156261,779609,20.043508990000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [16]:
#FILTROS BASICOS CON CONECTORES LOGICOS
#Filtro Y
filtro8 = df[(df["Periodo"] > 2006) & (df["Sexo"] == "Mujeres")]
filtro8

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2007,1,Mujeres,2798066,16239553,17.229944690000000000000
Aguascalientes,2007,1,Mujeres,31485,162275,19.402249270000000000000
Baja California,2007,1,Mujeres,112553,450574,24.979914510000000000000
Baja California Sur,2007,1,Mujeres,6298,87290,7.2150303590000000000000
Campeche,2007,1,Mujeres,14502,114970,12.613725320000000000000
...,...,...,...,...,...,...
Tamaulipas,2022,1,Mujeres,148943,624871,23.835799710000000000000
Tlaxcala,2022,1,Mujeres,63801,241052,26.46773310000000000000
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [17]:
#Filtro O
#Se puede cumplir una u otra clausula
filtro9 = df[ (df["Periodo"] > 2020) | (df["Sexo"] == "Hombre")]
filtro9

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2021,1,Hombres,5687086,32671161,17.407052050000000000000
Nacional,2021,1,Mujeres,3266812,20302109,16.090998230000000000000
Aguascalientes,2021,1,Hombres,100116,360857,27.743953980000000000000
Aguascalientes,2021,1,Mujeres,48719,235035,20.728402150000000000000
Baja California,2021,1,Hombres,264680,1022533,25.884739170000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000

In [18]:
#Filtro NOT
filtro10 = df[~(df["Periodo"] >= 2006) & (df["Sexo"] == "Mujeres")]
filtro10

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2005,1,Mujeres,2690296,14843275,18.124679360000000000000
Aguascalientes,2005,1,Mujeres,28430,145656,19.518591750000000000000
Baja California,2005,1,Mujeres,103697,398911,25.995021450000000000000
Baja California Sur,2005,1,Mujeres,4103,75648,5.4238049920000000000000
Campeche,2005,1,Mujeres,17935,110090,16.291216280000000000000
...,...,...,...,...,...,...
Tamaulipas,2005,4,Mujeres,113506,471856,24.055220240000000000000
Tlaxcala,2005,4,Mujeres,47984,165968,28.911597420000000000000
Veracruz,2005,4,Mujeres,91162,966076,9.436317640000000000000
Yucat n,2005,4,Mujeres,74834,302926,24.703723020000000000000
Zacatecas,2005,4,Mujeres,19022,186475,10.200831210000000000000

In [19]:
#Convertir archivo filtrado a CSV
filtro9.to_csv("Entregable1.csv")

In [20]:
#Descargar archivo filtrado en csv
from google.colab import files

files.download("Entregable1.csv")